* {
  box-sizing: border-box;
}
html {
  overflow: hidden;
  height: calc(100vh + 1px);
}
body {
  position: fixed;
  height: 100%;
  width: 100%;
  border: 0;
  margin: 0;
  touch-action: none;
  overscroll-behavior: none;
}
.globelet .spot {
  width: 18px;
  height: 18px;
}
.globelet .infobox {
  padding: 12px;
}
.globelet .infobox h1 {
  margin-top: 6px;
}
.globelet .infobox img {
  margin: 0px -12px 0px -12px;
  max-width: calc(100% + 24px);
}
#globe {
  height: 100%;
}
.globelet .mtIcon {
  display: inline-block;
  position: absolute;
  z-index: 1;
  width: 24px;
  height: 24px;
  transform: translate(-50%, -50%);
  fill: #502916;
}
